<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Hijos de la Anarquía</title>
</head>
<body>

<nav class="navbar navbar-expand-lg bg-primary" id="navbar" data-bs-theme="dark">
    <div class="container-fluid">
        <a href="index.html" class="navbar-brand" id="series_title">Hijos de la Anarquía</a>
    </div>
</nav>


<div id="content" class="content text-center">
    <img id="season-image" src="../images/logo_sa.jpg" alt="Imagen de la temporada" class="img-fluid" />

    <div class="info-section mt-4">
        <h2>Información de la Serie</h2>
        <p><strong>Creador:</strong> Kurt Sutter</p>
        <p><strong>Descripción:</strong> "Hijos de la Anarquía" es una serie de televisión que sigue a un club de motociclistas en California mientras navegan por las complejidades de la lealtad, la traición y el crimen. La serie explora temas de familia, moralidad y la lucha por el poder.</p>

        <h3 class="text-center">Personajes Principales:</h3>
        <div class="characters">
            <div class="character-card text-center">
                <img src="../images/jax_teller.jpg" class="character-img">
                <p>Jackson "Jax" Teller (Charlie Hunnam)</p>
            </div>
            <div class="character-card text-center">
                <img src="../images/gemma_teller.jpeg"  class="character-img">
                <p>Gemma Teller Morrow (Katey Sagal)</p>
            </div>
            <div class="character-card text-center">
                <img src="../images/opal_winston.jpg" class="character-img">
                <p>Opie Winston (Ryan Hurst)</p>
            </div>
            <div class="character-card text-center">
                <img src="../images/clay_morrow.jpg" class="character-img">
                <p>Clay Morrow (Ron Perlman)</p>
            </div>
            <div class="character-card text-center">
                <img src="../images/tig_trager.jpg" class="character-img">
                <p>Alex "Tig" Trager (Kim Coates)</p>
            </div>
            <div class="character-card text-center">
                <img src="../images/piney_winston.jpeg" class="character-img">
                <p>Piney Winston (William Lucking)</p>
            </div>
        </div>
    </div>
    <div class="separator"></div>
    <div class="button-section mt-4" id="season-buttons">
        
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script src="../js/seasons.js"></script>
</body>
</html>
